<div id="signup">
  <div class="logo-container" style="text-align: center; margin-bottom: 1rem;">
    <img src="/codex-drm/ui/images/logo.png" alt="My Logo" style="height: 60px;" />
  </div>
  {{{card}}}

  {{> js_setup nodes=nodes}}
  {{#if extraPartial }}
    {{> (extraPartial) }}
  {{/if}}
</div>
